body {
    background-image: url(./images/cookbook.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
}

.navbar {
    height: 36px;
}

a.nav-link {
    text-decoration: none;
    padding:0.3em 1.2em;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    background-color:#201f1f
}

a.nav-link:hover{
    border-color: rgba(255,255,255,1);
}

@media all and (max-width:30em){
    a.nav-link{
        display:block;
        margin:0.2em auto;
    }
}

.home {
    margin-right: 10px;
    border-radius: 20px;
    float: left;
    list-style: none;
}

.searchBtn {
    text-align: center;
    border-radius: 20px;
    width: 60px;
    float: left;
    list-style: none;
}

#header {
    background-color: coral;
    font-weight: 700;
    text-align: center;
    padding: 28px;
    opacity: 0.8;
}

.add-recipe {
    float: right;
}

#dialog {
    width: 40%;
    height: 600px;
}

#dialog-title {
    background-image: url(./images/background2.jpg);
    height: 55px;
}

.input-labels {
    font-size: 17px;
}

.recipe-inputs:required{
    width: 90%;
    padding: 12px;
    font-size: 20px;
}

#add-image-input{
    display: none;
}

.add-image-label{
    display: block;
    text-align: center;
    float: left;
    padding: 7px;
    border-radius:10px;
    margin-top: 5px;
    font-weight: bolder;
    font-variant-caps: all-small-caps;
    font-size: medium;
    background-color: #f38255;
}

.add-image-label:hover {
    background-color: #a84219;
    float: left;
    color: white;
    cursor: pointer;
    }

#save-btn {
    background: rgb(47, 255, 168); 
    position: absolute;
    bottom: 10px;
}

#cancel-btn {
    background: rgb(47, 255, 168);
    position: absolute;
    bottom: 10px;
    left: 3.5%;
}

/* search.html */
.container-search {
    padding: 45px;
}

#search-bar {
    background-color: rgb(255, 176, 29);
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;    
}

#search-form {
    padding: 20px;
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
  
input[type=text]:focus {
    width: 20%;
}

.results {
    margin: 25px;
}

.result-card {
    margin: 30px;
    /*margin-left: 200px;
    margin-right: 200px;*/
    background-color: tan;
    border: 5px solid rgb(58, 58, 58);
    text-align: center;
    padding: 15px;
    height: 280px;
}

.details {
    float: left;
    margin-right: 30px;
}
/*---------------*/

/* Square recipe cards */
#recipe-card {
    float: left;
    margin: 20px;
}

.card-image{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    object-fit: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    width:300px;
height:75px;
}

#recipe-title {
    color: rgb(240, 240, 240);
    background-color: rgb(26, 185, 66);
}

.demo-card-square.mdl-card {
    width: 300px;
    height: 300px;
}

.demo-card-square > .mdl-card__title {
    color: #fff;
    /*background: url("") bottom right 15% no-repeat #46B6AC;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*---------------*/

.click-title {
    padding-bottom: 10px;
    background: none;
    border: none;
}

.recipe-images {
    float: right;
    width: 30%;
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: 4%;
    border: 4px solid rgb(8, 18, 111);
}
.ingredient-list {
    float: left;
    margin-left: 5%;
}
#ingredients1 {
    font-size: 18px;
}

#ingredient-add {
    background-color: rgb(231, 143, 28);
}

.ingredient-list-search {
    padding: 20px;
}

.saved-to-recipes {
    padding: 15px;
    font-size: 18px;
}

.search-li-tags {
    padding-top: 15px;
}
.instructions {
    clear: both;
    margin-left: 5%;
    margin-right: 5%; 
    font-size: 18px;
}
.individual-recipes {
    background-color: lightblue;
    padding-bottom: 2%;
    padding-top: .5%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.recipe-titles {
    font-size: 36px;
    text-align: center;
}
#recipe-title0 {
    font-size: 36px;
}
.save-recipe-button {
    margin-left: 50%;
    margin-right: 50%;
    background-color: rgb(231, 143, 28);
}
.click-title {
    font-size: 24px;
}
.click-title:hover {
    color: beige;
}
.hidden {
    display: none;
}
#recipe-search {
    margin-left: 35%;
    background-color: rgb(231, 143, 28);
}
#ingredient-input {
    height: 36px;
    font-size: 16px;
}
#clear-ingredients {
    background-color: rgb(231, 143, 28);
}
.ingredient-to-search {
    margin-left: 42%;
    font-size: 22px; 
    list-style: square;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

#footer-text {
    font-weight: bold;
}

/* Open Recipe Card */
.openButton {
    background-color: rgb(255,64,129);
    border-style: none;
    color: white;
    
}

#recipe2 {
    margin-left: 10%;
    margin-right: 10%;
}