body {
    overflow-x: hidden;
}

#header {
    background-color: coral;
    text-align: center;
    padding: 45px;
    width: 95%;
}

.navbar {
    background-color: rgb(36, 207, 50);
    width: 100%;
    height: 40px;
    padding: 8px;
    padding-bottom: 25px;
}

.nav-link {
    color: cornsilk;
}

.home {
    background-color: rgb(40, 20, 220);
    text-align: center;
    padding: 3px;
    margin-right: 10px;
    border-radius: 20px;
    width: 60px;
    float: left;
    list-style: none;
}

.searchBtn {
    background-color: rgb(40, 20, 220);
    text-align: center;
    padding: 3px;
    border-radius: 20px;
    width: 60px;
    float: left;
    list-style: none;
}

.add-recipe {
    float: right;
}

.container {
    padding: 45px;
}

#footer {
    background-color: coral;
    text-align: center;
    clear: both;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
}

#search-bar {
    background-color: beige;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;    
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
  
  /* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 20%;
}

.results {
    opacity: 1;
    margin: 25px;
}

.result-card {
    margin: 30px;
    background-color: orange;
    border: 5px solid yellow;
    padding: 20px;
    height: 280px;
}

.details {
    float: left;
    margin-right: 30px;
}

.add-recipe {
    float: right;
}

/* Square recipe cards */
#recipe-card {
    float: left;
    margin: 20px;
}

#recipe-title {
    color: rgb(240, 240, 240);
    background-color: rgb(26, 185, 66);
}

.demo-card-square.mdl-card {
    width: 300px;
    height: 300px;
}

.demo-card-square > .mdl-card__title {
    color: #fff;
    background: url("./images/food.jpg") bottom right 15% no-repeat #46B6AC;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*---------------*/

.click-title {
    background: none;
    border: none;
}
#recipe1 {
    opacity: 0;
}
#recipe2 {
    opacity: 0;
}
#recipe3 {
    opacity: 0;
}
#recipe4 {
    opacity: 0;
}
#recipe5 {
    opacity: 0;
}
.recipe-images {
    float: right;
    width: 30%;
    margin-right: 5%;
    margin-bottom: 4%;
}
.ingredient-list {
    float: left;
    margin-left: 5%;
}
.instructions {
    clear: both;
    margin-left: 5%;
    margin-right: 5%; 
}
.individual-recipes {
    background-color: lightblue;
    padding-bottom: 2%;
    padding-top: .5%;
}
.recipe-titles {
    text-align: center;
}
.save-recipe-button {
    margin-left: 88%;
}
.click-title {
    font-size: 24px;
}
.click-title:hover {
    color: beige;
}
